@font-face {
    font-family: "Raleway";
    src: url("../font/Raleway-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Raleway-bold";
    src: url("../font/static/Raleway-Bold.ttf");
}
@keyframes popDown{
    0%{
        transform: translateY(-100px);
    }
}
/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #e31b6d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:#e31b6d;
}
body{
    font-family: 'Raleway';
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.section-blog{
    padding-top: 100px ;
    padding-bottom: 100px;
}
.section-blog.gray{
    background: #f5f5f5;
}
.bold{
    font-family: 'Raleway-bold';
}
.overflow-wrap{
    overflow: hidden;
}

.canvas{
    background: #252934;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:99;
}
section.banner{
    position: relative;
    color: #fff;
    height: calc(100vh + 53px);
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.text{
    font-size: 50px;
    line-height: 50pt;
    margin: 0 0 20px 0;
    pointer-events: none;
    z-index: 1;
    text-align: center;
    position: relative;
    color:#fff;
}
.text .highlight{
    color: #e31b6d;
    font-weight: 900;
}
.button.page-link{
    font-size:23px;
    border: 2px solid #fff;
    padding: 15px 30px;
    transition: all 0.5s;
    cursor: pointer;
}
.button.page-link i {
    margin-left: 10px;
    font-size: 20px;
    transition: all 0.5s;
}
.button.page-link:hover{
    background-color: #e31b6d;
    border-color: #e31b6d;
}
.button.page-link:hover i{
    transform: rotate(90deg);
}
@media screen and  (max-width:414px){
    .text{
        font-size: 25px;
        line-height: 35px ;
    }
    .button.page-link{
        padding: 10px 20px;
        font-size: 17px;
    }
    .button.page-link i{
        font-size: 16px;
    }
}
.menu-nav {
    background: #1b242f;
    color:#fff;
    border-bottom: 3px solid #e31b6d ;
    transition: .3s all ease-out
}
.menu-nav .wrap-link {
    text-align: left;
    width: 100%;
}
.menu-nav .wrap-link .link-item{
    display: inline-block;
    padding: 20px 45px;
    font-size: 21px;
    text-transform: capitalize;
    cursor: pointer;
    transition: all 0.5s;
}

.menu-nav .wrap-link .link-item:hover , 
.menu-nav .wrap-link .link-item.active{
    color:#e31b6d
}

.header{
    text-align: center;
    margin-bottom: 80px;
}
.header .text-header{
    font-size: 35px;
    font-weight : 600;
    text-transform: uppercase;
    position: relative;
}
.header .text-header:before{
    content: "";
    position:absolute;
    bottom: -7px;
    left: 15%;
    width: 70%;
    height: 3px;
    background-color: #333;
}
.content.flex{
    flex-direction: row;
    align-items: unset;
}
.flex .flex-50{
    width:50%;
    flex : 1 1 50%;
    flex-direction: column;
}

.img-wrap {
    padding-right: 30px;
    padding-left: 10px;
    position: relative;
}
.img-wrap .img-me{
    max-width: 100%;
    height: auto;
}
.img-wrap:before{
    z-index: -1;
    right: 0;
    -webkit-transform: translate(40%,-20%);
    -ms-transform: translate(40%,-20%);
    transform: translate(40%,-20%);
    position: absolute;
    content: "";
    width: 304px;
    height: 264px;
    background: url(../images/dots.png) right top;
}


.content-aboutme{
    padding-right: 10px;
    padding-left: 30px;
    font-size:18px;
    line-height: 30px;
}
.content-aboutme p{
    margin-bottom: 30px;
}
.content-aboutme p.note{
    font-size: 30px; 
    margin-bottom:30px
}
.note{
    text-align: center;
}
.note.quotes{
    font-style: italic;
    text-align: center;
    position: relative;
}
.note.quotes i {
    font-size: 15px;
    position: absolute;
}
.note.quotes i:first-child{
    top:0;
    left:75px
}
.note.quotes i:last-child{
   bottom:0;
   right:75px; 
}
.button-bar .button{
    width: 100px;
    text-align: center;
    display: inline-block;
    border-radius: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 11px;
    letter-spacing: .05rem;
    text-decoration: none;
    font-size: 17px;
    color:#fff ;
    opacity: 0.7;
    
}
.button-bar .button:hover{
    opacity: 1;
    transition: .5s ease
}
.button-bar .button:first-child{
    margin-right: 20px;
    background:#e31b6d;
}
.button-bar .button:nth-child(2){
    background:#6c757d;
}


.flex.row{
    flex-direction: row;
}
.flex.wrap{
    flex-wrap: wrap;
}

#menu-nav.sticky{
    animation: popDown 0.5s
}
#gallery .mix{
    position: relative;
}
#gallery .mix:not(:last-child){
    margin-right: 50px;
}
#gallery .mix .card {
    position: relative;
    width: 340px;
    height: 300px;
    background-position: center;
    background-size: cover;
}
#gallery .mix:hover .card{
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s;
}

#gallery .mix:nth-child(1) .card{
    background-image: url("../images/projects/naij1.png");
}
#gallery .mix:nth-child(2) .card{
    background-image: url("../images/projects/dvg.jpg");
}
#gallery .mix:nth-child(3) .card{
    background-image: url("../images/projects/vcbs.jpg");
}

#gallery .mix .card-text{
    position: absolute;
    text-align: center;
    top:0;
    left:0;
    opacity: 0;
    width: 100%;
    transition:all 0.5s ease;
    z-index: 2;
}
#gallery .mix:hover .card-text{
    cursor: poiter;
    top:30%;
    opacity: 1;
}
#gallery .mix .card-text .bold{
    font-size: 25px;
    margin-bottom: 5px;
}
#gallery .mix .card-text .highlight{
    font-size: 20px;
    color:#e31b6d
}

#gallery .mix .card-button{
    position: absolute;
    text-align: center;
    bottom:0;
    left:0;
    opacity: 0;
    width: 100%;
    transition:all 0.5s ease;
}

#gallery .mix .card-button button{
    background: #f5f5f5;
    border: 2px solid #e31b6d;
    padding: 10px 30px;
    font-size: 17px;
    text-transform: uppercase;
    transition: all 0.5s ease;
}
#gallery .mix:hover .card-button{
    opacity: 1;
    cursor: pointer;
    bottom: 30%;
}
#gallery .mix .card-button button:hover{
    color:#fff;
    background: #e31b6d;
}

/* {
    position: fixed;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    z-index: 999;
    transition: all 0.3s;
} */
/* .visible{
    transform: scale(1);
} */
.overlay{
    position: fixed;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
}
.overlay.visible{
    display: block;
}
.modal{
    position: fixed;
    top: -100%;
    left: 50%;
    width: 700px;
    height: auto;
    background-color: #fff;
    visibility: hidden;
    transform: translate(-50%, 0);
    z-index:  101;
    transition: all 0.5s ease;
}
.modal.visible{
    top:8%;
    visibility: visible;
}
 .modal .description{
    padding: 40px 30px;
}
 .modal .description .title{
    font-size: 35px;
    font-weight: bolder;
    margin-bottom: 15px;
}

 .modal .description .sub-title{
    padding-bottom: 30px;
    font-size: 20px;
    color: #837f7f;
    border-bottom: 1px solid #ccc;
}


 .modal .description .detail{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 17px;
    line-height: 25px;
    color: #837f7f;
}

 .modal  .close-modal{
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 30px;
    color: #a9a9a9;
    cursor: pointer;
}

.swiper-container {
    width: 100%;
    height: 50%;
  }

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    height: 400px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* object-fit: cover; */
    /* object-fit: fill; */
}
.mySwiper .swiper-button-next,.mySwiper .swiper-button-prev{
    bottom:0;
    top:unset;
    padding:5px;
    color:#fff;
    width: 30px;
    height: 30px;
    background: #33333361;
}
.mySwiper .swiper-button-next{
    right: 0;
}
.mySwiper .swiper-button-prev{
    left: 0;
}
.mySwiper .swiper-button-next:after, 
.mySwiper .swiper-button-prev:after, 
.mySwiper .swiper-container-rtl .swiper-button-prev:after{
    font-size: 25px;
}

